<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# tools for data science

In [ ]:
# introduction: this section introduces tools, software, libraries for data science

In [ ]:
# python,R,SQL,matlab

In [ ]:
## Data Science Libraries
- NumPy
- Pandas
- Scikit-learn
- TensorFlow
- Keras
- Matplotlib
- Seaborn

In [ ]:
## Data Science Tools

| Category        | Tools              |
|-----------------|--------------------|
| Data Manipulation   | Pandas, SQL, dplyr |
| Machine Learning    | Scikit-learn, TensorFlow, Keras |
| Data Visualization  | Matplotlib, Seaborn, Tableau |
| Big Data Processing | Apache Spark, Hadoop, Hive |

In [ ]:
# Arithmetic Expression Examples: this section introduces some examples of arithmetic expressions like add, subtract,multiply,division and so on.

In [1]:
# Multiply and Add Numbers
a = 3
b = 4
product = a * b
sum = a + b

print("Product:", product)
print("Sum:", sum)

Product: 12
Sum: 7

In [14]:
# Convert Minutes to Hours

def min_hr(minutes):
    hours = minutes / 60

    return hours

#test function
minutes=120
print('hours:',min_hr(120))

hours: 2.0

In [ ]:
## Objectives
- data science languages and libraries
- data science tools and their applications
- arithmetic expressions with python
- application in data science concepts and techniques

In [ ]:
# Author name: Lakshmi Holla, Niveditha Pandith